<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
	<div th:replace="fragments :: navbar"></div>
	<div class="container-fluid">
	    <div class="container-fluid">
	        <h1>Recetero</h1>
	        <ul>
	            <li>Desarrollada por Ruben Munoz</li>
	            <li>Versión 1.1.0</li>
	            <li>Fecha de release: 12/07/2021</li>
	        </ul>
	    <a class="btn btn-link" href="/mainboard">Atras</a>
	    </div>
	
	</div>

<div th:replace="fragments::javascript"/>

</body>
</html>