<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<div class="container-fluid">
	<div th:replace="fragments :: navbar"></div>

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de recetas de ' + ${usuario.nombre}"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Receta</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="receta: ${recetas}">
                    <td th:text="${receta.id}"></td>
                    <td th:text="${receta.nombre}"></td>
                    <td><a class="btn btn-primary btn-xs" th:href="@{/recetas/{id}/editar(id=${receta.id})}"/>editar</a>
                        <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                           th:onclick="'del(\'/recetas/' + ${receta.id} + '\')'">borrar</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p><a class="btn btn-primary" th:href="@{/recetas/nueva}"> Nueva receta</a>
            <a class="btn btn-link" href="/logout">Salir</a></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>


</div>

<div th:replace="fragments::javascript"/>

<!-- Ejemplo de uso de Ajax para lanzar una petición DELETE y borrar una tarea -->

<script type="text/javascript">
    function del(urlBorrar) {
        if (confirm('¿Estás seguro/a de que quieres borrar la receta?')) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function (results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    }
</script>

</body>
</html>