<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<div class="container-fluid">
	<div th:replace="fragments :: navbar"></div>

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de recetas de ' + ${usuario.nombre}"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <p><a th:if="${filterMode != 2}" class="btn btn-primary" th:href="@{/recetas/publicas}"> Recetas publicas</a>
        	<a  th:if="${filterMode != 1}" class="btn btn-primary" th:href="@{/mainboard}"> Mis Recetas</a>
        	<a  th:if="${filterMode != 3}" class="btn btn-primary" th:href="@{/recetas/favoritas}"> Favoritas</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Receta</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="receta: ${recetas}">
                    <td> <a th:href="@{/recetas/{id}/overview(id=${receta.id})}" th:text="${receta.nombre}"/></td>
                    <td th:if="${receta.idOwner == usuario.id}"   ><a class="btn btn-primary btn-xs" th:href="@{/recetas/{id}/editar(id=${receta.id})}">editar</a>
                    	<a th:if="${!recetasFavoritas.contains(receta) && filterMode!=3}" class="btn btn-primary btn-xs" th:href="@{/recetas/{id}/favorita/{origen}(id=${receta.id},origen=${filterMode})}">favorito</a>
                    	<a th:if="${recetasFavoritas.contains(receta) || filterMode==3}" class="btn btn-primary btn-xs" th:href="@{/recetas/{id}/favorita/quitar/{origen}(id=${receta.id},origen=${filterMode})}">quitar favorito</a>
                        <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                           th:onclick="'del(\'/recetas/' + ${receta.id} + '\')'">borrar</button>
                    </td>
                    <td th:if="${receta.idOwner != usuario.id}">
                    	<a th:if="${!recetasFavoritas.contains(receta) && filterMode!=3}" class="btn btn-primary btn-xs" th:href="@{/recetas/{id}/favorita/{origen}(id=${receta.id},origen=${filterMode})}">favorito</a>
                    	<a th:if="${recetasFavoritas.contains(receta) || filterMode==3}" class="btn btn-primary btn-xs" th:href="@{/recetas/{id}/favorita/quitar/{origen}(id=${receta.id},origen=${filterMode})}">quitar favorito</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p><a class="btn btn-primary" th:href="@{/recetas/nueva}"> Nueva receta</a>
            <a class="btn btn-link" href="/logout">Salir</a></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>


</div>

<div th:replace="fragments::javascript"/>

<!-- Ejemplo de uso de Ajax para lanzar una petición DELETE y borrar una receta -->

<script type="text/javascript">
    function del(urlBorrar) {
        if (confirm('¿Estás seguro/a de que quieres borrar la receta?')) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function (results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    }
</script>

</body>
</html>