<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<div class="container-fluid">

    <h2>Crear producto</h2>

    <form method="post" th:action="@{/productos/nuevo}" th:object="${productoData}">
        <div class="col-6">
	        <div class="form-group">
	            <label for="titulo">Nombre del producto:</label>
	            <input class="form-control" id="nombre" name="nombre" required th:field="*{nombre}" type="text"/>
	        </div>
	         <div class="form-group">
	            <label for="descripcion">Tipo de unidad:</label>
	            <input class="form-control" id="unidad" name="unidad" required th:field="*{unidad}" type="text"/>
	        </div>
         
	        <button class="btn btn-primary" type="submit">Crear producto</button>
	        <a class="btn btn-link" th:href="@{/productos}">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>